body {
    font-family: 'Pangolin', cursive;
    color: #13315C;
    font-size: 20px;
}

button {
    background-color: #17BEBB;
    border: 0;
    border-radius: 5px;
    font-family: 'Pangolin', cursive;
    color: #13315C;
    font-size: 20px;
    width: 100px;
    padding: 5px;
    margin: 5px;
    outline: none;
}

.game-container {
    position: absolute;
    width: 300px;
    height: 500px;
    margin: 15% calc(50% - 150px);
}

.field-container {
    position: absolute;
    top: 200px;
    left: 0;
}

.start-game {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 300px;
    height: 300px;
    background-color: #ffffff;
    text-align: center;
}

.field {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 300px;
    height: 300px;
    background-color: #ffffff;
}

.cell {
    width: 89px;
    height: 89px;
    margin: 2px;
    text-align: center;
    overflow: hidden;
}

    .horizontal-row {
        display: inline-block;
        border-top: solid 2px #134074;
        border-bottom: solid 2px #134074;
    }

    .vertical-row {
        display: inline-block;
        border-left: solid 2px #134074;
        border-right: solid 2px #134074;
    }

    .winning-cell {
        background-color: rgba(23,190,187,0.5);
        box-shadow: 0 0 15px 5px rgba(23,190,187,0.5);
        border-radius: 5px;
    }

    .a-cell,
    .a-cell:active,
    .a-cell:hover,
    .a-cell:visited,
    .a-cell:focus {
        text-decoration: none;
        color: #0B2545;
        display: inline-block;
    }

.mark {
    font-size: 65px;
}

.end-game {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 100px;
    background-color: #ffffff;
    text-align: center;
}

.score {
    position: absolute;
    top: 100px;
    left: 0;
    width: 300px;
    height: 50px;
    background-color: #ffffff;
    padding: 5px 15px;
    color: #13315C;
}

.scoreline {
    margin: 5px;
    color: #912F56;
}

.score-item {
    display: inline-block;
    width: 145px;
}

.play-again-btn {
    background-color: #912F56;
    color: #ffffff;
}

.mark-selection-btn {
    width: 40px;
}

.mark-selection-btn:focus {
    background-color: #912F56;
    color: #ffffff;
}

.invisible {
    visibility: hidden;
}

.overlay {
    z-index: 2;
}